@model IEnumerable<Showroom.Core.ViewModels.Parts.CarPartViewModel>

@{
    ViewData["Title"] = "Parts";
}

<div class="text-center">
    <h1>Parts</h1>
    <p>
        <a role="button" class="btn btn-info" asp-action="Create">Create New Part</a>
    </p>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a type="button" class="btn btn-secondary btn-sm" href="@Url.ActionLink("Edit", "Parts", new {  id=item.Id  })">Edit</a>
                <a type="button" class="btn btn-danger btn-sm" href="@Url.ActionLink("Delete", "Parts", new {  id=item.Id  })">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
